.filterInput{
    border:1px solid lightgray;
    border-radius:20px;
    padding:0.2rem;
    width: 40%;
    display: flex;
    margin-left: auto;
    >span>svg{
        margin-top: 0.2rem;
        color: gray;
    }
    >input{
        width:80%;
        border:0;
        outline-width: 0;
        background-color:transparent;
    }
}