*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root{
  --main-gradient-color: rgba(79, 206, 235, 0.928);
  --secondary-gradient-color: rgba(81, 184, 240, 0.968);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
