.cityCard{
    padding:1.5rem;
    text-align: center;
    box-shadow:7px 11px 12px rgba(0,0,0,0.08);
    margin-bottom: 0.4rem;
    border-radius:50px;
    min-width: 95px;
    max-width: 95px;
    background: linear-gradient(
        to right bottom,
        rgba(219, 233, 229, 0.728),
        rgb(121, 180, 182)
      );
    opacity: 0.8;
    cursor: pointer;
    transition:transform 0.3s ease-in-out;
    >h3{
        font-weight: bold;
    }
    >p{
        margin-bottom: 0;
        font-weight: bold;
        color:#555d6e;
    }
    &:hover{
        transform: scale(1.01);
    }
    >div{
        display:flex;

    }

}
@media (max-width:450px){
    .cityCard{
padding:1rem;

        >div{
            flex-direction: column;
    
        }
        >div>p:last-child{
            margin-bottom: 0;
        }
    }
}